#       EditorConfig file: see <https://editorconfig.org/>.
#
#       Keep in sync with language_traits.txt, .gitattributes and
#       make_file_trailer.sh.
# ----------------------------------------------------------------------------

root = true

[*]
indent_style = space
indent_size = 4
max_line_length = 80
insert_final_newline = true

trim_trailing_whitespace = true

[*.el]
indent_size = 2
