# Auto detect text files and perform LF normalization
* text=auto

# List of all the file types used in Breath (more
# precisely: the list of files creatable in a text
# editor; for instance, Visual Studio solution files
# are excluded from this list and set later).
#
# Maintenance note: keep in sync with
#   $BREATH_ROOT/tool/init_file/language_traits.txt
#
*.asm   text
*.awk   text eol=lf
*.bat   text eol=crlf
*.cpp   text
*.hpp   text
*.tpp   text
*.css   text
*.el    text
*.html  text
*.mk    text
*.sh    text eol=lf
*.shc   text eol=lf
*.vim   text
*.xhtml text
*.xslt  text

*.txt   text


# Custom for Visual Studio
*.cs     diff=csharp
*.sln             text eol=crlf
*.vcxproj         text eol=crlf
*.vcxproj.filters text eol=crlf

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
