# ============================================================================
#                         Copyright 2019 Gennaro Prota
#
#                   Licensed under the 3-Clause BSD License.
#              (See accompanying file 3_CLAUSE_BSD_LICENSE.txt or
#               <https://opensource.org/licenses/BSD-3-Clause>.)
# ____________________________________________________________________________

language: cpp
script: make

matrix:
    #       TODO:
    #
    #        - check the minimum supported versions of Clang and GCC
    #
    #        - build with Visual C++ as well
    # ------------------------------------------------------------------------
    include:
        - os: linux
          dist: xenial
          compiler: clang

          env:
            - compiler=clang system=unix

          name: "Clang 7 on Ubuntu 16.04 (Xenial)"

        - os: linux
          dist: xenial

          addons:
            apt:
                sources:
                    - ubuntu-toolchain-r-test
                packages:
                    - g++-7
          env:
            - compiler=gcc system=unix compiler_command=g++-7

          name: "GCC 7 on Ubuntu 16.04 (Xenial)"

        - os: linux
          dist: xenial

          addons:
            apt:
                sources:
                    - llvm-toolchain-xenial-8
                packages:
                    - clang-8

          env:
            - compiler=clang system=unix compiler_command=clang++-8"

          name: "Clang 8 on Ubuntu 16.04 (Xenial)"

        - os: linux
          dist: xenial

          addons:
            apt:
                sources:
                    - ubuntu-toolchain-r-test
                packages:
                    - g++-8
          env:
            - compiler=gcc system=unix compiler_command=g++-8

          name: "GCC 8 on Ubuntu 16.04 (Xenial)"

        - os: osx
          osx_image: xcode10.1

          env:
            - compiler=clang system=unix

          name: "Xcode 10.1 on Mac OS X"

# Local Variables:
# mode: yaml
# indent-tabs-mode: nil
# End:
# vim: set ft=yaml et sts=4 sw=4:
